@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
    font-family: 'Miama';
    src: url('./font/Miama.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
/* font-family: 'Miama', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    background-color: rgba(0, 0, 0, 0.991);
}

/* shared styles */
.main-section-title{
    font-size: 2.7rem;
    font-weight: 900;
}

.main-section-sub-title{
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    margin-top: 0.8rem;
}



/* header */
header{
    padding-top: 2.5rem;
    background: radial-gradient(rgba(119, 119, 119, 0.345), rgb(0, 0, 0));
}


/* nav styling */
nav{
    width: 73%;
    width: 58.4rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title{
    font-weight: 800px;
    font-size: 1.7rem;
    color: #E6533C;
}

.nav-list{
    width: 40%;
    border: 1px solid #ffffff37;
    border-radius: 5rem;
    padding: 0.4rem 1rem 0.5rem 0.19rem;
    
}

.nav-list ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list ul li{
    list-style: none;
}

.nav-list ul li a{
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    font-weight: 350;
}

.nav-list .colored-home{
    color: white;
    background-color: #E6533C;
    padding: 0.4rem 0.8rem;
    border-radius: 5rem;
    font-weight: 550;
}

.nav-list #bar-icon{
    color: white;
    display: none;
}



/* banner section */
.banner-section{
    width: 73%;
    width: 58.4rem;
    margin: 1rem auto 0rem;
    color: white;

    display: flex;
    justify-content: space-between;

}

.text-container{
    width: 50%;
    margin-top: 4rem;
}

.banner-section .banner-title{
    font-size: 4rem;
    font-weight: 900;
    line-height: 4.5rem;
}

.text-container .shape-text{
    font-family: 'Miama', sans-serif;
    font-size: 7rem;
    font-weight: 100;
}

.text-container .sub-banner-title{
    margin: 1.75rem 0;
    color: #ffffffa8;
    font-size: 0.8rem;
    font-weight: 200;
    line-height: 1.2rem;
}

.text-container button{
    border: none;
    border-radius: 5rem;
    color: white;
    background-color: #E6533C;
    padding: 0.7rem 2.4rem;
    margin-right: 0.3rem;
    font-size: 0.8rem;
    cursor: pointer;
}

.text-container .download-btn{
    background-color: #e6533c00;
    border: 1px solid white;
}

.banner-img-holder{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.banner-img-holder > img{
    width: 88%;
}

#img-text1{
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.116);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.116);
    backdrop-filter: blur(2rem);
    top: 25%;
    right: -8%;
}

#img-text1 h1{
    font-weight: 900;
    font-size: 2rem;
}

#img-text1 p{
    color: #FFFFFFA6;
    font-size: 0.7rem;
    text-align: left;
    margin-top: 0.1rem;
}

#img-text2{
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.116);
    padding: 0.8rem 1.2rem;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.091);
    backdrop-filter: blur(2rem);
    top: 72%;
    left: -12%;

    display: flex;
    align-items: center;

}

#img-text2 h1{
    font-size: 1.5rem;
}

#img-text2 p{
    color: #FFFFFFA6;
    font-size: 0.7rem;
    text-align: left;
    margin-top: 0.2rem;
}

#img-text2 .circle-div{
    width: 1.9rem;
    height: 1.9rem;
    background-color: #E6533C;
    border-radius: 50%;
    margin-right: 0.7rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-div .triangle{
    width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-left: 8px solid #ffffff;
	border-bottom: 5px solid transparent;
}





/* main section */
main{
    /* width: 73%; */
    /* width: 58.4rem; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section{
    width: 73%;
    width: 58.4rem; 
}




/* habit section */
.habit-section{
    margin: 6rem 0rem;
}

.habit-section-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    margin-bottom: 3.5rem;
}

.habit-section-text-container p{
    width: 60%;
    line-height: 1.3rem;
}


.rounded-pic-container{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rounded-item-card{
    width: 21.5%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rounded-item-card h3{
    font-size: 1.2rem;
    font-weight: 480;
    margin-top: 1.8rem;
}

.rounded-item-card p{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    text-align: center;
}

.rounded-item-card img{
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.1);
}

.rounded-item-card img{
    width: 100%;
}






/* run extra section */
.run-extra-section{
    max-width: 100%;
    padding: 1.8rem 0;
    margin: 3rem 0rem 6.5rem;
    background-color: rgb(34, 34, 34);
    color: white;
    border-radius: 1.2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.run-extra-text-container{
    width: 40%;
    margin-left: 3.375rem;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

}

.run-extra-text-container p{
    line-height: 1.3rem;
    margin: 1.2rem 0 0;
}

.run-extra-text-container button{
    padding: 0.9rem 0;
    width: 50%;
    height: 40%;
    margin-top: 2rem;
    color: white;
    background-color: #E6533C;
    border: none;
    border-radius: 5rem;
    font-size: 0.8rem;
    cursor: pointer;
}

.run-extra-img-holder{
    height: 19rem;
    width: 37.5%;
    margin-right: 2rem;
    border-radius: 1.2rem;
    overflow: hidden;
}

.run-extra-img-holder img{
    width: 100%;
    transform: scale(3.2) translateX(-14%) translateY(16%);
}






/* bmi calc section */
.bmi-calc-section{
    width: 100%;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bmi-calc-head-title{
    width: 45%;
    width: 36rem;
    margin-bottom: 5.5rem;
    text-align: left;
}

.bmi-calc-container{
    width: 100%;
    height: 25.4rem;
    background-color: rgb(34, 34, 34);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bmi-calc-holder{
    width: 73%;
    width: 58.4rem; 
    display: flex;
    /* height: 19.7rem; */
    align-items: start  ;
    justify-content: space-between;
}

.bmi-chart{
    width: 45%;
}

.bmi-chart h1{
    margin-bottom: 3.25rem;
    font-size: 1.8rem;
}

td,th{
    border: 1.2px solid rgba(255, 255, 255, 0.1);
    padding: 0.6rem 1.5rem;
    text-align: left;
}

th{
    font-weight: 500;
    font-size: 0.88rem;
}

td{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
    font-size: 0.7rem;
}

table{
    border-collapse: collapse;
}

.calculator{
    width: 55%;
}

.calculator h1{
    font-size: 1.8rem;
}

.calculator p{
    margin: 0.8rem 0 2.1rem;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
}

.input-box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}

.input-box input, select{
    padding: 0.7rem 0.8rem;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 0.4rem;
    font-weight: 200;
}

#activity-factor-select{
    grid-column: 1 / span 2;
}

.input-box input::placeholder, select{
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.8rem;

}

.calculator .calculate-btn{
    padding: 0.8rem 0;
    width: 33%;
    margin-top: 1.5rem;
    color: white;
    background-color: #E6533C;
    border: none;
    border-radius: 5rem;
    font-size: 0.8rem;
    cursor: pointer;
}





/* fitness app */
.fitness-app-section{
    margin: 5.5rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.fitness-app-section-head-title{
    width: 45%;
    width: 36rem;
    margin-bottom: 4.5rem;
    text-align: center;
}

.fitness-app-content-container{
    display: flex;
    width: 100%;
}

.app-day-counter{
    width: 60%;
    background-color: #2222229d;
}

.routine-table{
    width: 40%;
}

.circle-box{
    width: 8.5rem;
    height: 8.5rem;
    background-color: #E6533C;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.counter-item{
    text-align: center;
}

.circle-box h1{
    font-size: 3rem;
    font-weight: 800;
}

.circle-box p{
    font-size: 0.8rem;
    font-weight: 300;
}

.app-day-counter{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 1rem;
}

.app-day-counter .circle-under-text{
    font-size: 0.8rem;
    font-weight: 300;
    margin-top: 1.5rem;
}

#circle-box-2{
    background-color: white;
    color: #E6533C;
    border: 3px solid #E6533C;
}

.routine-table{
    display: flex;
    align-items: center;
    justify-content: center;
}


.table-head, .table-data{
    border: 0px;
    padding: 1.5rem 2rem;
    text-align: left;
}

tr:nth-child(2n){
    background-color: #2222229d;
}

#first-td{
    border-radius: 1rem 0 0 1rem;
}

#second-td{
    border-radius: 0 1rem 1rem 0;
}

.routine-table th{
    font-weight: 500;
    font-size: 0.88rem;
    background-color: #e6533c;
}

.routine-table td{
    color: rgb(255, 255, 255);
    font-weight: 300;
    font-size: 0.7rem;
}

.routine-table table{
    border-collapse: collapse;
}

#first-th{
    border-radius: 1rem 0 0 1rem;
}

#second-th{
    border-radius: 0 1rem 1rem 0;
}











/* team section */
.team-section{
    margin: 5.5rem 0;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.team-section-head-title{
    width: 45%;
    width: 36rem;
    margin-bottom: 4.5rem;
    text-align: left;
    text-align: center;
}

.grid-parent{
    width: 100%;
    border-radius: 1.2rem;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1.2rem;

}

.photo-grid-container, .photo-grid-container-2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,15rem);
    gap: 1rem;
}

.photo-grid-container-2{
    margin-top: 1rem;
}

.grid-item{
    border-radius: 1.2rem;
    overflow: hidden;
    position: relative;
}


.grid-text-1{
    position: absolute;
    top: 77%;
    left: 8%;
    font-size: 1.2rem;
}

.grid-text-2 {
    position: absolute;
    left: 8%;
    top: 86.3%;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.623);
}


.grid-item > img {
    border-radius: 1.2rem;
    width: 100%;
    filter: brightness(80%);
    
}

#box1 > img{
    transform: scale(1.15) translateY(4%);
}

#box2 > img{
    transform: scale(1.2) translateY(7%);
}

#box3 > img{
    transform: scale(1.15) translateY(4%);
}

#box4 img{
    transform: scale(1.8) translateY(20%);
}

#box5 img{
    transform: scale(1.2) translateY(-5%);
}

#box6 img{
    transform: scale(1.28) translateY(4%);
}




/* footer */
footer{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.footer-text-container{
    /* border: 1px solid red; */
    width: 73%;
    width: 58.4rem; 
    /* height: 100px; */
    margin: 0 auto;
    color: white;
    padding: 4rem 0 0;

    display: flex;
    align-items: start;
    justify-content: space-between;
}

.footer-box-1{
    width: 39%;
    /* border: 1px solid red; */
}

.footer-box-1 h1{
    font-size: 2.9rem;
    font-weight: 800;
    margin-bottom: 1.25rem;
    color: rgb(230, 83, 60);
}

.footer-box-1 p{
    font-size: 0.8rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.3rem;
}

.footer-box-text{
    font-size: 1.6rem;
    font-weight: 600;
}

.footer-text-container ul{
    list-style: none;
    margin-top: 2rem;
}

.footer-text-container ul li{
    margin-top: 1rem;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.1rem;
    font-weight: 350;
}

.footer-text-container ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}

footer hr{
    margin: 5rem 0 0;
    width: 73%;
    width: 58.4rem; 
    border: 1.2px solid rgba(255, 255, 255, 0.1);
}

.copyright-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright{
    margin: 2rem 0;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.5);
}











/* =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+ */
/* =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+ */
/* =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+ */

/* responsive section */

@media screen and (max-width: 576px) {
    
    header {
        padding-top: 3rem;
    }

    /* navbar */
    nav {
        width: 90%;
    }

    .nav-list {
        width: 40%;
        border: 0px solid #ffffff44;
        padding: 0rem;
    }

    .nav-list ul {
        justify-content: end;
    }

    .nav-list ul li {
        display: none;
    }

    .nav-list #bar-icon {
        display: block;
        font-size: 1.4rem;
    }


    /* banner section */
    .banner-section {
        width: 90%;
        flex-direction: column;
    }

    .text-container {
        width: 100%;
        margin-top: 3rem;
    }

    .banner-section .banner-title {
        font-size: 3rem;
        line-height: 3.5rem;
    }

    .text-container .shape-text {
        font-size: 5.5rem;
    }

    .text-container .sub-banner-title {
        font-size: 0.9rem;
        width: 73%;
        margin: 1.75rem 0 1rem;
    }

    .text-container button {
        padding: 1rem 1.9rem;;
        font-size: 1rem;
        margin-top: 1rem;
    }

    .banner-img-holder {
        width: 100%;
        margin-top: 3rem;
    }

    .banner-img-holder > img {
        width: 95%;
    }

    #img-text1 {
        top: 10%;
        right: 7%;
    }

    #img-text2 {
        top: 45%;
        left:7%;
    }



    /* main */
    main {
        width: 100%;
    }

    section {
        width: 90%;
    }


    /* habit section */
    .habit-section {
        margin: 3.5rem 0rem 0rem;
    }

    .habit-section-text-container {
        margin-bottom: 3.5rem;
    }

    .main-section-title {
        font-size: 2.2rem;
    }

    .habit-section-text-container p {
        width: 100%;
        line-height: 1.3rem;
    }

    .rounded-pic-container {
        flex-direction: column;
    }

    .rounded-item-card {
        width: 90%;
    }

    .rounded-item-card img{
        width: 80%;
    }

    .rounded-item-card p {
        margin-bottom: 3rem;
        width: 60%;
    }



    /* run extra section */
    .run-extra-section {
        margin: 2rem 0rem 3.5rem;
        flex-direction: column;
    }

    .run-extra-text-container {
        width: 80%;
        margin-left: 0rem;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }

    .run-extra-text-container p {
        width: 80%;
    }

    .run-extra-text-container button {
        padding: 0.9rem 0;
        width: 100%;
        font-size: 1rem;
    }

    .run-extra-img-holder {
        width: 80%;
        height: 13rem;
        margin-right: 0rem;
        margin-left: 0rem;
        margin-top: 2rem;
    }

    .run-extra-img-holder img {
        transform: scale(1.6) translateX(-10%) translateY(9.5%);
    }



    /* bmi cal section */
    .bmi-calc-section {
        width: 100%;
    }

    .bmi-calc-head-title {
        width: 90%;
        margin-bottom: 2.5rem;
    }

    .bmi-calc-container {
        width: 100%;
        height: 1%;
    }

    .bmi-calc-holder {
        width: 90%;
        align-items: start;
        padding: 2rem 0;
        flex-direction: column;
    }

    .bmi-chart {
        width: 100%;
    }

    .bmi-chart h1 {
        margin-bottom: 2rem;
    }

    table {
        width: 90%;
    }

    td, th {
        padding: 0.6rem 0.9rem;
    }

    .input-box {
        grid-template-columns: repeat(2,53%);
    }

    .calculator {
        width: 90%;
        margin-top: 2rem;
    }

    .calculator .calculate-btn {
        padding: 0.9rem 0;
        width: 50%;
    }




    /* fitness app section */
    .fitness-app-section {
        margin: 5.5rem 0 0;
    }

    .fitness-app-section-head-title {
        width: 100%;
    }

    .fitness-app-content-container {
        flex-direction: column;
    }

    .app-day-counter {
        width: 100%;
        border-radius: 1rem;
        padding-bottom: 3rem;

        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }

    .counter-item {
        text-align: center;
        padding: 3rem 0 0;
    }

    .routine-table {
        width: 100%;
        margin-top: 3rem;

        display: flex;
        align-items: center;
        justify-content: center;
    }








    /* team section */
    .team-section-head-title {
        width: 100%;
        margin-bottom: 3.5rem;
    }

    .photo-grid-container, .photo-grid-container-2 {
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(1,17rem);
    }



    /* footer */
    .footer-text-container {
        width: 90%;
        padding: 3rem 0 0;
        flex-direction: column;
    }

    .footer-box-1 {
        width: 100%;
    }

    .footer-box-2, .footer-box-3 {
        margin-top: 2rem;
    }

    footer hr {
        width: 100%;
    }

    .copyright {
        margin: 1.5rem 0;
    }

    .copyright-section{
        width: 90%;
        align-items: start;
    }
}


@media screen and (min-width: 992px) {
    
    /* navbar */
    nav {
        width: 80%;
    }

    /* banner */
    .banner-section {
        width: 80%;
    }

    .banner-img-holder {
        justify-content: end;
    }


    /* main */
    main {
        width: 100%;
    }

    section {
        width: 80%;
    }

    .rounded-item-card img{
        width: 90%;
    }

    .rounded-item-card h3{
        font-size: 1.1rem;
    }
    
    .rounded-item-card p{
        font-size: 0.75rem;
    }

    .bmi-calc-section {
        width: 100%;
    }

    .bmi-calc-container {
        width: 100%;
    }

    .bmi-calc-holder {
        width: 80%;
    }

    .fitness-app-content-container {
        width: 100%;
    }

    .app-day-counter {
        width: 70%;
    }

    .app-day-counter {
        width: 70%;
    }

    .routine-table {
        width: 50%;
    }
}