@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
    font-family: 'Miama';
    src: url('./font/Miama.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
/* font-family: 'Miama', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    background-color: rgba(0, 0, 0, 0.991);
}

/* shared styles */
.main-section-title{
    font-size: 2.5rem;
    font-weight: 900;
}

.main-section-sub-title{
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    margin-top: 0.8rem;
}



/* header */
header{
    padding-top: 2.5rem;

}

/* nav styling */
nav{
    width: 73%;
    width: 58.4rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title{
    font-weight: 800px;
    font-size: 1.7rem;
    color: #E6533C;
}

.nav-list{
    width: 40%;
    border: 1px solid #ffffff37;
    border-radius: 5rem;
    padding: 0.4rem 1rem 0.5rem 0.19rem;
    
}

.nav-list ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list ul li{
    list-style: none;
}

.nav-list ul li a{
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
}

.nav-list .colored-home{
    color: white;
    background-color: #E6533C;
    padding: 0.4rem 0.8rem;
    border-radius: 5rem;
}

.nav-list #bar-icon{
    color: white;
    display: none;
}



/* banner section */
.banner-section{
    width: 73%;
    width: 58.4rem;
    margin: 1rem auto 0rem;
    color: white;

    display: flex;
    justify-content: space-between;

}

.text-container{
    width: 50%;
    margin-top: 5rem;
}

.banner-section .banner-title{
    font-size: 4rem;
    font-weight: 900;
    line-height: 4.5rem;
}

.text-container .shape-text{
    font-family: 'Miama', sans-serif;
    font-size: 7rem;
    font-weight: 100;
}

.text-container .sub-banner-title{
    margin: 1.75rem 0;
    color: #ffffffa8;
    font-size: 0.8rem;
    font-weight: 200;
    line-height: 1.2rem;
}

.text-container button{
    border: none;
    border-radius: 5rem;
    color: white;
    background-color: #E6533C;
    padding: 0.7rem 2.4rem;
    margin-right: 0.3rem;
    font-size: 0.8rem;
}

.text-container .download-btn{
    background-color: #e6533c00;
    border: 1px solid white;
}

.banner-img-holder{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.banner-img-holder > img{
    width: 88%;
}

#img-text1{
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.116);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.187);
    backdrop-filter: blur(2rem);
    top: 25%;
    right: -8%;
}

#img-text1 h1{
    font-weight: 900;
    font-size: 2rem;
}

#img-text1 p{
    color: #FFFFFFA6;
    font-size: 0.7rem;
    text-align: left;
    margin-top: 0.1rem;
}

#img-text2{
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.116);
    padding: 0.8rem 1.2rem;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.091);
    backdrop-filter: blur(2rem);
    top: 72%;
    left: -12%;

    display: flex;
    align-items: center;

}

#img-text2 h1{
    font-size: 1.5rem;
}

#img-text2 p{
    color: #FFFFFFA6;
    font-size: 0.7rem;
    text-align: left;
    margin-top: 0.2rem;
}

#img-text2 .circle-div{
    width: 1.9rem;
    height: 1.9rem;
    background-color: #E6533C;
    border-radius: 50%;
    margin-right: 0.7rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-div .triangle{
    width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-left: 8px solid #ffffff;
	border-bottom: 5px solid transparent;
}





/* main section */
main{
    width: 73%;
    width: 58.4rem;
    margin: 0 auto;
}




/* habit section */
.habit-section{
    margin: 6rem 0rem;
}

.habit-section-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    margin-bottom: 3.5rem;
}

.habit-section-text-container p{
    width: 60%;
    line-height: 1.3rem;
}


.rounded-pic-container{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rounded-item-card{
    width: 21.5%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rounded-item-card h3{
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1.8rem;
}

.rounded-item-card p{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    text-align: center;
}

.rounded-item-card img{
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.1);
}








/* =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+ */
/* =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+ */
/* =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+ */

/* responsive section */

@media screen and (max-width: 576px) {
    
    header {
        padding-top: 3rem;
    }

    /* navbar */
    nav {
        width: 90%;
    }

    .nav-list {
        width: 40%;
        border: 0px solid #ffffff44;
        padding: 0rem;
    }

    .nav-list ul {
        justify-content: end;
    }

    .nav-list ul li {
        display: none;
    }

    .nav-list #bar-icon {
        display: block;
        font-size: 1.4rem;
    }


    /* banner section */
    .banner-section {
        width: 90%;
        flex-direction: column;
    }

    .text-container {
        width: 100%;
        margin-top: 3rem;
    }

    .banner-section .banner-title {
        font-size: 3rem;
        line-height: 3.5rem;
    }

    .text-container .shape-text {
        font-size: 5.5rem;
    }

    .text-container .sub-banner-title {
        font-size: 0.9rem;
        width: 73%;
        margin: 1.75rem 0 1rem;
    }

    .text-container button {
        padding: 1rem 1.9rem;;
        font-size: 1rem;
        margin-top: 1rem;
    }

    .banner-img-holder {
        width: 100%;
        margin-top: 3rem;
    }

    .banner-img-holder > img {
        width: 95%;
    }

    #img-text1 {
        top: 10%;
        right: 7%;
    }

    #img-text2 {
        top: 45%;
        left:7%;
    }



    /* main */
    main {
        width: 90%;
    }


    /* habit section */
    .habit-section {
        margin: 3.5rem 0rem 6rem;
    }

    .habit-section-text-container {
        margin-bottom: 3.5rem;
    }

    .main-section-title {
        font-size: 2.2rem;
    }

    .habit-section-text-container p {
        width: 100%;
        line-height: 1.3rem;
    }

    .rounded-pic-container {
        flex-direction: column;
    }

    .rounded-item-card {
        width: 90%;
    }

    .rounded-item-card p {
        margin-bottom: 3rem;
        width: 50%;
    }
}